* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
    box-sizing: border-box;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1em;
}
body {
    background: rgb(240,240,240);
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
}
.app-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.content {
    box-shadow: 0 2px 3px rgb(208,208,208);
    background: #fff;
    margin-top: 25px;
    margin: 25px 10px 0;
    width: 800px;
    max-width: 90vw;

    box-sizing: border-box;
    display: flex;

    ul {
        list-style: none;
        flex: 1;
        padding: 0;
        margin: 0;
    }
    li {
        flex: 1;
        border: 1px solid #eee;
        border-bottom: none;
        display: flex;
    }
    button {
        border-radius: 0;
        margin: 0;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 1.1em;
    }
    .route {
        flex: 1;
        text-align: left;
        padding: 10px 0 10px 15px;
        color: rgba(80,78,78, 0.8);
        &:hover {
            color: rgba(80,78,78, 1);
        }
    }
    .checkbox {
        cursor: pointer;
        color: #ddd;
        svg path:nth-child(2) {
            fill: rgba(0, 0, 0, 0.1);
            transition: fill 100ms ease-in-out;
            &.checked {
                fill: rgba(0,0,0,0.7);
            }
        }
        &:hover {
            svg path:nth-child(2) {
                fill: rgba(0,0,0,0.7);
            }
        }
    }
}
.navbar {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
}
#map-wrapper {
    display: flex;
    flex: 1;
}
#map {
    position: static !important;
}
