* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
    box-sizing: border-box;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1em;
}
body {
    background: rgb(240,240,240);
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
}
#app {
    overflow: scroll;
}
.content-wrapper, .navbar {
    button:focus {
        outline: 0;
    }
}
.app-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.content-wrapper {
    margin: 20px 10px 0;
    width: 800px;
    max-width: 90vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .content {
        flex: 1;
    }

}
.list-header-view {
    padding: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        font-weight: 400;
        flex: 1;
        margin: 0;
        padding: 0;
        color: rgb(155, 155, 155);
        font-size: 1em;
    }
    button {
        border: none;
        background: none;
        cursor: pointer;
        svg path:nth-child(2) {
            fill: rgb(155, 155, 155);
        }
        &.checked {
            svg path:nth-child(2) {
                fill: rgb(135, 135, 135);
            }
        }
    }
}
.list-view {
    box-shadow: 0 2px 3px rgb(208,208,208);
    background: #fff;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        flex: 1;
        border: 1px solid #eee;
        border-bottom: none;
        display: flex;
    }
    button {
        border-radius: 0;
        margin: 0;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 1.1em;
    }
    .route {
        flex: 1;
        text-align: left;
        padding: 10px 0 10px 15px;
        color: rgba(80,78,78, 0.8);
        &:hover {
            color: rgba(80,78,78, 1);
        }
    }
    .checkbox {
        display: flex;
        cursor: pointer;
        color: #ddd;
        svg path:nth-child(2) {
            fill: rgba(0, 0, 0, 0.1);
            transition: fill 100ms ease-in-out;
        }
        &.checked {
            svg path:nth-child(2) {
                fill: rgba(0, 0, 0, 0.5);
            }
        }
        &:hover {
            svg {
                box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
                border-radius: 2px;
            }
        }
    }
}
.navbar {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
    z-index: 1000;
}
#map-wrapper {
    position: absolute;
    width: 100%;
    top: 45px;
    margin-top: 0;
    bottom: 0;
}
#map {
    position: relative;
    height: 100%;
}
