@import "leaflet";

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    background: rgb(240,240,240);
    margin: 0;
    padding: 0;
}
#map {
    position: relative;
    width: 500px;;
    height: 500px;
}
.vehicle-marker {
    fill: red;
}
