$status1Color: rgb(33,102,172);
$status2Color: rgb(67,147,195);
$status3Color: rgb(146,197,222);
$status4Color: rgb(241,37,45);
$status5Color: rgb(162,25,29);


.vehicle-icon {
    margin-left: -20px !important;
    margin-top: -20px !important;

    svg #circle-shape {
        &.status1 #circle-border { stroke: $status1Color; }
        &.status2 #circle-border { stroke: $status2Color; }
        &.status3 #circle-border { stroke: $status3Color; }
        &.status4 #circle-border { stroke: $status4Color; }
        &.status5 #circle-border { stroke: $status5Color; }

        &.status1 #circle-arrow { fill: $status1Color; }
        &.status2 #circle-arrow { fill: $status2Color; }
        &.status3 #circle-arrow { fill: $status3Color; }
        &.status4 #circle-arrow { fill: $status4Color; }
        &.status5 #circle-arrow { fill: $status5Color; }
    }
}
.vehicle-leaflet-label {
    border: 1px solid rgb(225,225,225);
    color: rgb(75, 122, 169);
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
    font-weight: 600;
}
.vehicle-leaflet-label::before, .vehicle-leaflet-label::after {
    content: normal;
}

.stop-leaflet-label {
    background: none;
    border: none;
    font-weight: 600;
    font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
    color: rgb(110, 96, 101);
    text-shadow: rgb(255,255,255) 1px 2px 0px;
}
.stop-leaflet-label::before, .stop-leaflet-label::after {
    content: normal;
}

.map-legend {
    background: #fff;
    box-shadow: 0px 2px 1px rgb(236,236,236);
    position: absolute;
    bottom: 25px;
    right: 10px;
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(224,223,223);
    font-weight: 300;
    color: rgb(134,133,133);

    .title {
        font-size: 1.1em;
        font-weight: 400;
    }

    .legend {
        margin: 5px 0 10px;

        .colors, .labels {
            display: flex;
            flex: 1;
            flex-direction: row;
            text-align: center;
        }
        span, label {
            justify-content: center;
            display: flex;
            flex: 1;
        }
        span {
            height: 5px;
        }

        .status1 { background: $status1Color }
        .status2 { background: $status2Color }
        .status3 { background: $status3Color }
        .status4 { background: $status4Color }
        .status5 { background: $status5Color }
    }

    small {
        color: rgb(174,173,173);
        b {
            font-weight: inherit;
            color: rgb(104,103,103);
        }
    }
}
