.navbar {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    height: 45px;
    font-size: 1.4em;
    font-weight: 300;
    padding: 5px 10px;
    background: rgb(207,30,30);
    transition: background-color 30ms ease-in-out;

    .logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h1 {
            font-weight: 300;
            transition: color 30ms ease-in-out;
            font-size: 1.1em;
        }
    }

    a {
        color: rgba(255, 255, 255, 0.9);
        border: none;
        text-decoration: none;
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }

    .unicon {
        width: 44px;
        height: 44px;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        cursor: pointer;
        display: flex;
        svg * {
            transition: fill 30ms ease-in-out;
            fill: rgba(255, 255, 255, 0.9);
        }
    }

    .info {
        svg {
            transition: fill 30ms ease-in-out;
            fill: rgba(255, 255, 255, 0.9);
        }
        &:hover {
            svg {
                fill: rgba(255, 255, 255, 1);
            }
        }
    }

    .draw {
        background: none;
        border: none;
        cursor: pointer;
        svg {
            fill: rgb(207,30,30);
        }
    }

    &.checked {
        background: rgb(255, 255, 255);
        .logo {
            visibility: hidden;
        }
    }

}

.logo:hover h1 {
    color: rgba(255, 255, 255, 1);
}
.logo:hover .unicon svg * {
    fill: rgba(255, 255, 255, 1);
}
